@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Texto blanco */
  --background-start-rgb: 173, 216, 230; /* Azul celeste claro */
  --background-end-rgb: 255, 182, 193; /* Rojo claro (rosado) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Texto blanco */
    --background-start-rgb: 100, 149, 237; /* Azul más oscuro */
    --background-end-rgb: 255, 105, 180; /* Rosado fuerte */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

